.main-login {
    height: calc(100vh - 150px);
}

.form__login {
    background: transparent;
    backdrop-filter: blur(20px);
    width: 400px;
    height: 480px;
    padding: 16px;
    border-radius: 10px;
}

.form__login input[type="email"], .form__login input[type="password"] {
    width: 90%;
    border-radius: 8px;
    padding: 8px 10px;
    font-size: 1.2rem;
}

.form__login input[type="email"]:focus, .form__login input[type="password"]:focus {
    box-shadow: 0 2px 4px #fff;
}

.form__login input[type="submit"] {
    width: 90%;
    border-radius: 8px;
    font-size: 1.4rem;
    padding: 8px 10px;
}

.btn-loguearte {
    letter-spacing: 1px;
}

.btn-loguearte:active {
    transform: translateY(5px);
}